<div class="flex flex-row shadow-2 h-full bg-white-alpha-90">
  <div class="flex flex-column gap-2">
    <p-button
      *ngFor="let item of items"
      [icon]="item.icon"
      styleClass="p-button-text p-button-lg ui-button"
      (click)="openSidebar(item)"
    ></p-button>
  </div>
  <div *ngIf="openPanel && selectedItem" [@inOutAnimation]>
    <div class="flex flex-column w-15rem m-3">
      <span>{{ selectedItem.title }}</span>
      <p-divider styleClass="p-divider-top"></p-divider>
      <p-button
        *ngFor="let subMenu of selectedItem.subMenu"
        [label]="subMenu.title"
        [icon]="subMenu.icon"
        styleClass="p-button-text text-sm ui-button w-full m-0 pl-0 py-2"
      ></p-button>
    </div>
  </div>
</div>
